div{
    background-color: rgb(161, 6, 65);
    margin: 0 auto;
    height: 150px;
    width: 70%;
    color : white;
    text-align: center;
  
}

.esquerda{
    float: left;
    width: 35%;
    height: 50%;

}
.direita{
    float: right;
    width: 65%;
    height: 50%;
}

h3{
    font-size: 1.30em;
}