.example-form {
    min-width: 150px;
    max-width: 500px;
    width: 100%;
}
  
.example-full-width {
    width: 100%;
    margin: 5px;
}


.example-form-field {
    width: 200px;
}

button .matSuffix {
    background-color: white;
    border-color: transparent;
    border-radius: 50%;

}


/*video 78*/

.ng-invalid.ng-touched:not(form, input) {
    border: 1px solid red;
}

.limpar:hover{
    background-color: rgba(235, 235, 235, 0.904);
}

.novoFormContainer{
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.novoFormBox{
    width: 100%;
    background-color: rgba(127, 255, 212, 0.267);
    border: 1px solid blue;
    margin-top: 30px;
    padding: 10px;
}

input:read-only {
    cursor: not-allowed;

}