<!--Nós tem a variável local "f" sendo associada ao crontrole do formulário(ngForm) do angular e no evento de submit estamos passando essa variável f-->
<form class="example-form" #f="ngForm" (ngSubmit)="onSubmit(f)" autocomplete="off">
    <mat-form-field class="example-full-width" appearance="fill">
        <mat-label>Nome</mat-label>
        <input type="text" name="nome" matInput placeholder="Digite seu nome " [(ngModel)]="usuario.nome" required  #nome>        
        
        <button class="limpar" *ngIf="usuario.nome" matSuffix mat-icon-button aria-label="Clear" (click)="usuario.nome=''" >
            <mat-icon >close</mat-icon>
        </button>
    </mat-form-field>

    <mat-form-field class="example-full-width" appearance="fill">
        <mat-label>Email</mat-label>
        <input type="email" name="email" matInput placeholder="Ex email@email.com" [(ngModel)]="usuario.email" required #email>
        <button *ngIf="usuario.email" matSuffix mat-icon-button aria-label="Clear" (click)="usuario.email=''" >
            <mat-icon >close</mat-icon>
        </button>
    </mat-form-field>
    
    <!--div>

        <p>{{ nome.className }}</p>

    </div-->
  
    <div>
        <div class="example-container">     
            <mat-form-field appearance="fill">
              <mat-label>Address type:</mat-label>
              <mat-select [(ngModel)]="selectedValue" name="addressType">
                <mat-option>
                    None
                  </mat-option>
                <mat-option *ngFor="let addressType of usuario.addressType" [value]="addressType.value">
                  {{addressType.viewValue}}
                </mat-option>
              </mat-select>
              <mat-hint align="end">home, work, parents...</mat-hint>
            </mat-form-field>

            <mat-form-field hintLabel="Max 10 characters" appearance="fill">
                <mat-label>address:</mat-label>
                <input type="text" name="endereco" matInput #input maxlength="10" placeholder="Ex. Nougat" [(ngModel)]="usuario.endereco">
                <mat-hint align="end">{{input.value.length}}/10</mat-hint>
            </mat-form-field>
        </div>
    </div>

    
</form>

<div>
    <button mat-raised-button type="submit" [disabled]="f.invalid || emailFormControl.invalid ">enviar</button>
</div><!--o button do html possui uma propriedade disabled//-->
<!--div class="novoFormContainer">
    
    <form class="example-form" #g="ngForm" (ngSubmit)="onSubmit(g)">
        <div class="novoFormBox">
            <div>
                <div class="example-full-width">
                    <label for="name2">Nome2</label>
                    <input type="text" name="name2" matInput placeholder="Digite seu nome2 " [(ngModel)]="usuario.nome2" required  #nome2="ngModel">
                    <!--se o nome for inválido e ele for tocado...
                    <div *ngIf="!nome2.valid && nome2.touched"> <!--pode usar hiden com Property binding  também
                        O campo nome2 eh obrigatório!
                    </div>
                </div>
        
            </div>
            <div>
                <!--tratando err usando um Property binding de class (com a classa do material)
                <div class="example-full-width">
                    <label for="email3">email3</label>
                    <input type="email" name="email3" matInput placeholder="Digite seu email " [(ngModel)]="usuario.email3" required  #email="ngModel" email>
                    <!--se o nome for inválido e ele for tocado...
                    <div [hidden]="!(email.invalid && email.touched)"> <!--//pode usar hiden com Property binding  também
                        O campo email eh obrigatório!
                    </div>
                </div>
            </div>
            <div>
                <button mat-raised-button type="submit" [disabled]="g.invalid">enviar</button>
            </div>
        </div>
            <app-form-debug [form]="g"></app-form-debug><!--// proprety binding form recebe o controle de formulario ngForm e manda para o debug pq la tem um Input
    </form>

</div!-->

<div>
    <app-form-debug [form]="f"></app-form-debug>
</div>

<mat-form-field class="example-full-width example-form ">
    <mat-label>Email</mat-label>
    <input type="email" matInput [formControl]="emailFormControl" [errorStateMatcher]="matcher"
           placeholder="Ex. pat@example.com">
    <mat-hint>Errors appear instantly!</mat-hint>
    <mat-error *ngIf="emailFormControl.hasError('email') && !emailFormControl.hasError('required')">
      Please enter a valid email address
    </mat-error>
    <mat-error *ngIf="emailFormControl.hasError('required')">
      Email is <strong>required</strong>
    </mat-error>
</mat-form-field>


