
<h4 highlightMouse>fica amarelo qndo passa o mouse</h4>
<p highlightMouse>   
    HostListener como nós podemos escultar um evento de um documento html que ta ultilizando a nossa diretiva em si. Aqui dentro da diretiva (ou seja ele vai escultar no elemento o que é o host ou seja é o elemento hospedeiro dessa diretiva 
    o hostListener vai fica escutando evento no hospedeiro da diretiva q nesse caso eh a tag html
    hostbinding permite que agente faça o bindin a associaçao de um atributo ou uma classo do html para uma variavel
</p>


<!--h4 highlight>Input e Property Binding nas diretivas</h4>
<p highlight [defaultColor]="'gray'" [highLightColor]="'red'">   
    podemos deixar o usuario setar um valor q desejar nas deiretivas
</p-->

<h4 [highlight]="'red'" [defaultColor]="'gray'">Input e Property Binding nas diretivas</h4>
<p [highlight]="'red'" [defaultColor]="'gray'">   
    podemos deixar o usuario setar um valor q desejar nas deiretivas
</p>
<!-- pra usar assim o mesmo nome tem que ser do seletor da diretiva-->