<form class="example-form" [formGroup]="formulario" (ngSubmit)="onSubmit(formulario)"> 
    <div>
        <mat-form-field class="example-full-width">
          <mat-label>Nome</mat-label>
          <input type="text" matInput placeholder="Digite seu nome completo" formControlName="nome">

        </mat-form-field>
    </div>
    <div>
        <mat-form-field class="example-full-width">
          <mat-label>Email</mat-label>
          <input type="email" matInput placeholder="Ex. pat@example.com" formControlName="email">
        </mat-form-field>
    </div>

    <div class="example-button-row">
        <button mat-raised-button>Submit</button>
    </div>

  </form>
  
<div>
    <app-form-debug [form]="formulario"></app-form-debug>
</div>

  <!--[formGroup]
    eh o mesmo do nome da classe porém com eh uma diretiva inicia com letra minuscula-->