
.input-outupt-properties{
    background-color: rgb(255, 142, 127);
}

.inter-property{
    background-color: rgb(81, 18, 87);
}

.interpolation{
    background-color: aquamarine;
}

.property-binding{
    background-color: rgb(132, 102, 160);
}